* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5rem;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


h1 {
    font-size: 7rem;
}

h2 {
    font-size: 6.5rem;
    line-height: 5.5rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 6rem;
}

h6 {
    font-size: 5.5rem;
}

a {
    text-decoration: none;
}

/* unvisited link */
a:link {
    color: red;
}

/* visited link */
a:visited {
    color: orange;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: black;
}

p {
    margin-bottom: 3rem;
}